/* Fonts */

@font-face {
    font-family: "Main";
    src: url(/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "Main";
    src: url(/fonts/SourceSansPro-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Code";
    src: url(/fonts/SourceCodePro-Regular.ttf);
}

/*GENERAL STYLING*/

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

h2 {
    margin: 20px 0;
}

h3 {
    margin: 20px 0;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5em;
}

a {
    color: inherit;
}

nav {
    margin-top: 20px;
}

.item-list > li {
    display: block;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #eee;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
    line-height: 1.5em;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

ol {
    margin-left: 20px;
    margin-bottom: 10px;
}

ol li {
    margin-left: 20px;
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

ul li {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5em;
}

nav li {
    display: inline-block;
    padding: 5px;
    border-radius: 12px;
    background-color: #000;
    color: #fff;
}

/*LAYOUT*/

.layout {
  //  width: 1920px
  //  height: 1080px;
  min-height: 100vh;

  display: grid;
  grid:
  "header header header" auto
  "leftSide body rightSide" 1fr
  "footer footer footer" auto
  / auto 1fr auto;
  gap: 2px;
  background-color: #000;
  color: #fff;
}

.weeklayout {
  width: 99vw;
  justify-content: space-evenly;
  display: flex;
  gap: 16px;
}

.grow1 {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
  grid-row:1;
  font-size: 100%;
  display: inline-block;
  padding: 5px;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
}

@media (max-width: 2560px) {
  .grow1 {
    flex-grow: 1;
    text-align: center;
    margin: 5px;
    grid-row:1;
    font-size: 85%;
    display: inline-block;
    padding: 5px;
    border-radius: 12px;
    background-color: #000;
    color: #fff;
  }
}

@media (max-width: 1510px) {
  .grow1 {
    flex-grow: 1;
    text-align: center;
    margin: 5px;
    grid-row:1;
    font-size: 70%;
    display: inline-block;
    padding: 5px;
    border-radius: 12px;
    background-color: #000;
    color: #fff;
  }
}


.headerlayout {
//  width: 1920px;

  display: grid;
    grid:
    "title" auto
    "links links links links links links links links links links links links links links links links " $
    / auto 1fr auto;
    gap: 8px;
}


.title {
  grid-area: title;
  text-align: center;
  grid-row:1;
  grid-column-start: span 16;
  font-size: 250%;
  padding: 40px 0px 20px 0px;
}

.subtitle {
  grid-area: title;
  text-align: center;
  grid-row:1;
  grid-column-start: span 16;
  font-size: 125%;
  padding: 20px 0px 40px 0px;
}

.links {
  grid-area: links;
  margin: auto;
  grid-row:2;
  font-size: 75%;
  display: inline-block;
  padding: 5px;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
}

.header {
  grid-area: header;
  background-color: #0067ac;
}

header a {
    text-decoration: none;
}

header .title {
  font-size: 3.5em;
    color: #000;
    font-weight: bold;
}

leftSide {
  grid-area: leftSide;
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 130%;
  /*border:3px solid blue;*/
  padding: 5px;
  background-color: #0067ac;
  .weekSection {
    font-size: 80%;
    padding-top: 20px;
  }
  width: 200px;
}

@media (max-width: 2560px) {
  leftSide {
    grid-area: leftSide;
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 100%;
    /*border:3px solid blue;*/
    padding: 5px;
    background-color: #0067ac;
    .weekSection {
      font-size: 80%;
      padding-top: 20px;
    }
    width: 160px;
  }
}

@media (max-width: 1510px) {
  leftSide {
    grid-area: leftSide;
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 100%;
    /*border:3px solid blue;*/
    padding: 5px;
    background-color: #0067ac;
    .weekSection {
      font-size: 80%;
      padding-top: 20px;
    }
    width: 160px;
  }

}

leftSideEmpty {
  grid-area: leftSide;
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 130%;
  padding: 5px;
  background-color: #000;
}

#floater {
  border-radius: 15px;
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 400px;
  right: 100px;
  height: 350px;
  width: 200px;
  z-index: 100;
  text-align: left;
  padding-inline-start: 5px;
}

@media (max-width: 2560px) {
  #floater {
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 300px;
    right: 25px;
    height: 350px;
    width: 125px;
    z-index: 100;
    text-align: left;
    padding-inline-start: 5px;
    font-size: 90%;
  }
}

@media (max-width: 1510px) {

  #floater {
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 300px;
    right: 25px;
    height: 350px;
    width: 125px;
    z-index: 100;
    text-align: left;
    padding-inline-start: 5px;
    font-size: 90%;
  }
}

/*#floater { display: none; }*/

#floater:hover {
  display: block;
  overflow: auto;
}

#floater h3 {
  background-color: #fff;
  color: #000;
  margin-bottom: 5px;
  padding: 0px 0px 0px 0px;
}

#floater ul {
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 0px 0px 0px 0px;
}

#floater ul li {
  margin-bottom: 5px;
  padding: 0px 5px 0px 0px;
}

body {
  background: #000;
  color: #fff;
  grid-area: body;
  grid-column: 2 ;
  grid-row-start: 2;
  font-size: 100%;
  font-family: "Main";
  text-align: center;
/*  border:3px solid red;
  padding: 5px 125px 5px 20px; */
}


footer {
  background: #000;
  color: #fff;
  text-align: center;
  grid-area: footer;
  grid-column-start: 1;
  grid-row-start: 3;
  font-size: 100%;
  /*border:3px solid blue; */
  color: #8a8a8a;
}

.mini-wrapper {
  border:3px solid dodgerblue;
  padding: 20px;
  font-size: 150%;
}

/* MY CUSTOM STYLING */

#myIframe
{
    position: relative;
    width: calc(100vw - 850px);
    height: calc(720 * (100vw - 850px)/1280);
}

@media (max-width: 2560px) {
  #myIframe
  {
      position: relative;
      width: calc(100vw - 500px);
      height: calc(720 * (100vw - 500px)/1280);
  }
}

@media (max-width: 1510px) {
  #myIframe
  {
      position: relative;
      width: calc(100vw - 500px);
      height: calc(720 * (100vw - 500px)/1280);
  }
}

.wrapper {
    max-width: calc(100vw - 300px);
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px 40px 0px;
    text-align: left;
}

leftside .weekSection ul {
    padding: 0px 0px 0px 0px;
    padding-inline-start: 0px;
    text-align: left;
}

leftside .weekSection ul li {
    margin-left: 0px;
    font-size: 125%;
}

body .layout .wrapper center .download {
  padding: 0px 5px 0px 5px;
}

body .layout .wrapper center .download {
    display: inline-block;
    background-color: #0067ac;
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 0px 5px 0px 5px;
}

body .layout .wrapper p {
  padding: 0px 300px 0px 300px;
}

@media (max-width: 2560px) {
  body .layout .wrapper p {
    padding: 0px 100px 0px 50px;
  }
}


@media (max-width: 1510px) {
  body .layout .wrapper p {
    padding: 0px 100px 0px 50px;
  }
}

body .layout .wrapper pre {
  padding: 0px 0px 0px 0px;
  margin-left: 300px;
}

@media (max-width: 2560px) {
  body .layout .wrapper pre {
    padding: 0px 0px 0px 0px;
    margin-left: 50px;
    margin-right: 100px;
  }
}

@media (max-width: 1510px) {
  body .layout .wrapper pre {
    padding: 0px 0px 0px 0px;
    margin-left: 50px;
    margin-right: 100px;
  }
}

.wrapper h2 {
  padding: 0px 300px 0px 300px;
}

@media (max-width: 2560px) {
  .wrapper h2 {
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1510px) {
  .wrapper h2 {
    padding: 0px 50px 0px 50px;
  }
}

.wrapper h3 {
  padding: 0px 300px 0px 300px;
}

@media (max-width: 2560px) {
  .wrapper h3 {
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1510px) {
  .wrapper h3 {
    padding: 0px 50px 0px 50px;
  }
}

.wrapper h4 {
  padding: 0px 300px 0px 300px;
}

@media (max-width: 2560px) {
  .wrapper h4 {
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1510px) {
  .wrapper h4 {
    padding: 0px 50px 0px 50px;
  }
}


.wrapper ul {
  padding: 0px 300px 0px 300px;
}

@media (max-width: 2560px) {
  .wrapper ul {
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1510px) {
  .wrapper ul {
    padding: 0px 50px 0px 50px;
  }
}


.wrapper ul li {
  padding: 0px 300px 0px 0px;
}

@media (max-width: 2560px) {
  .wrapper ul li {
    padding: 0px 50px 0px 0px;
  }
}

@media (max-width: 1510px) {
  .wrapper ul li {
    padding: 0px 50px 0px 0px;
  }
}

.wrapper ul li ul {
  padding: 0px 300px 0px 0px;
}

@media (max-width: 2560px) {
  .wrapper ul li ul {
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1510px) {
  .wrapper ul li ul {
    padding: 0px 50px 0px 50px;
  }
}

.wrapper ol {
  padding: 0px 300px 0px 300px;
}

@media (max-width: 2560px) {
  .wrapper ol {
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1510px) {
  .wrapper ol {
    padding: 0px 50px 0px 50px;
  }
}

.wrapper ol li {
  padding: 0px 300px 0px 0px;
}

@media (max-width: 2560px) {
  .wrapper ol li {
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1510px) {
  .wrapper ol li {
    padding: 0px 50px 0px 50px;
  }
}

.wrapper ol li ul {
  padding: 0px 300px 0px 0px;
}

@media (max-width: 2560px) {
  .wrapper ol li ul {
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1510px) {
  .wrapper ol li ul {
    padding: 0px 50px 0px 50px;
  }
}


.nextModule:link p {
  color: green;
  text-align: right;
}

.tocItem {
  padding: 10px 10px 50px 12px;
}

.tocItem selected {
  padding: 10px 10px 8px 12px;
  color: black;
  background-color: white;
}

.comment-container {
  display: flex;
  align-items: center;
  position: relative;
}

.chain {
  border-left: 2px dashed gray;
  position: absolute;
  height: 50%;
  left: -17px; /* for you to adjust and line up */
}

.chain-top {
  top: 0;
}

.chain-bottom {
  top: 50%;
}


.comment {
  /*border: 1px solid lightgray;
  border-radius: 8px; */
  padding: 8px 16px;
  margin: 50px 0; /* increase vertical margin to see that I scale with different sizes */
  max-width: 300px;
}

.comment-icon {
  font-size: 32px;
  margin-right: 16px;
  background: white;
  color: gray;
  z-index: 10;
}


.description {
    margin-bottom: 40px;
}

.new {
    display: block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 22px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    border: 2px solid #0067ac;
    padding: 10px 10px 8px 12px;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 2560px) {
  .new {
      display: block;
      position: relative;
      margin-top: 30px;
      margin-bottom: 22px;
      margin-left: 50px;
      margin-right: 100px;
      border-radius: 8px;
      background-color: #fff;
      color: #000;
      border: 2px solid #0067ac;
      padding: 10px 10px 8px 12px;
      text-decoration: none;
      text-align: center;
  }
}

@media (max-width: 1510px) {
  .new {
      display: block;
      position: relative;
      margin-top: 30px;
      margin-bottom: 22px;
      margin-left: 50px;
      margin-right: 100px;
      border-radius: 8px;
      background-color: #fff;
      color: #000;
      border: 2px solid #0067ac;
      padding: 10px 10px 8px 12px;
      text-decoration: none;
      text-align: center;
  }
}

.new::before {
    content: "New This Semester";
    position: absolute;
    top: -15px;
    left: 10px;
    line-height: 20px;
    padding: 0 3px;
    background-color: #000;
    color: #0067ac;
    font-weight: bold;
    border-radius: 8px;
    /*text-transform: uppercase;*/
    font-size: 12px;
}

.suggestedReading {
    display: block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 22px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 8px;
    border: 2px solid #000000;
    padding: 10px 10px 8px 12px;
    text-decoration: none;

    background-color: #0067ac;
    color: #fff;
    text-align: center;
}

@media (max-width: 2560px) {
  .suggestedReading {
      display: block;
      position: relative;
      margin-top: 30px;
      margin-bottom: 22px;
      margin-left: 50px;
      margin-right: 100px;
      border-radius: 8px;
      border: 2px solid #000000;
      padding: 10px 10px 8px 12px;
      text-decoration: none;

      background-color: #0067ac;
      color: #fff;
      text-align: center;
  }
}

@media (max-width: 1510px) {
  .suggestedReading {
      display: block;
      position: relative;
      margin-top: 30px;
      margin-bottom: 22px;
      margin-left: 50px;
      margin-right: 100px;
      border-radius: 8px;
      border: 2px solid #000000;
      padding: 10px 10px 8px 12px;
      text-decoration: none;

      background-color: #0067ac;
      color: #fff;
      text-align: center;
  }
}

.suggestedReading::before {
    content: "Suggested Reading";
    position: absolute;
    top: -11px;
    left: 10px;
    line-height: 20px;
    padding: 0 3px;
    background-color: #000;
    color: #0067ac;
    font-weight: bold;
    border-radius: 8px;
    /*text-transform: uppercase;*/
    font-size: 12px;
}

@media (max-width: 2560px) {
  .suggestedReading::before {
      content: "Suggested Reading";
      position: absolute;
      top: -15px;
      left: 10px;
      line-height: 20px;
      padding: 0 3px;
      background-color: #000;
      color: #0067ac;
      font-weight: bold;
      border-radius: 8px;
      /*text-transform: uppercase;*/
      font-size: 12px;
  }
}

@media (max-width: 1510px) {
  .suggestedReading::before {
      content: "Suggested Reading";
      position: absolute;
      top: -15px;
      left: 10px;
      line-height: 20px;
      padding: 0 3px;
      background-color: #000;
      color: #0067ac;
      font-weight: bold;
      border-radius: 8px;
      /*text-transform: uppercase;*/
      font-size: 12px;
  }
}

.info {
    display: block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 22px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 8px;
    border: 2px solid #000000;
    padding: 10px 10px 8px 12px;
    text-decoration: none;

    background-color: #ff0000;
    color: #fff;
    text-align: center;
}

@media (max-width: 2560px) {
  .info {
      display: block;
      position: relative;
      margin-top: 30px;
      margin-bottom: 22px;
      margin-left: 100px;
      margin-right: 100px;
      border-radius: 8px;
      border: 2px solid #000000;
      padding: 10px 10px 8px 12px;
      text-decoration: none;

      background-color: #ff0000;
      color: #fff;
      text-align: center;
  }
}

@media (max-width: 1510px) {
  .info {
      display: block;
      position: relative;
      margin-top: 30px;
      margin-bottom: 22px;
      margin-left: 100px;
      margin-right: 100px;
      border-radius: 8px;
      border: 2px solid #000000;
      padding: 10px 10px 8px 12px;
      text-decoration: none;

      background-color: #ff0000;
      color: #fff;
      text-align: center;
  }
}

.info::before {
    content: "IMPORTANT";
    position: absolute;
    top: -11px;
    left: 10px;
    line-height: 20px;
    padding: 0 3px;
    background-color: #000;
    color: #0067ac;
    font-weight: bold;
    border-radius: 8px;
    /*text-transform: uppercase;*/
    font-size: 12px;
}

@media (max-width: 2560px) {
  .info::before {
      content: "IMPORTANT";
      position: absolute;
      top: -15px;
      left: 10px;
      line-height: 20px;
      padding: 0 3px;
      background-color: #000;
      color: #0067ac;
      font-weight: bold;
      border-radius: 8px;
      /*text-transform: uppercase;*/
      font-size: 12px;
  }
}

@media (max-width: 1510px) {
  .info::before {
      content: "IMPORTANT";
      position: absolute;
      top: -15px;
      left: 10px;
      line-height: 20px;
      padding: 0 3px;
      background-color: #000;
      color: #0067ac;
      font-weight: bold;
      border-radius: 8px;
      /*text-transform: uppercase;*/
      font-size: 12px;
  }
}

/* MEDIA BASED STYLING */

img[src*="#centerResized"] {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 2560px) {
  img[src*="#centerResized"] {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 1510px) {
  img[src*="#centerResized"] {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: auto;
    margin-bottom: 10px;
  }
}

img[src*="#centerResizedSlide"] {
  display: block;
/*  margin: 0 auto;*/
  width: 800px;
  height: auto;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (max-width: 2560px) {
  img[src*="#centerResizedSlide"] {
    display: block;
  /*  margin: 0 auto;*/
    width: 400px;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1510px) {
  img[src*="#centerResizedSlide"] {
    display: block;
  /*  margin: 0 auto;*/
    width: 400px;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

img[src*="#center"] {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    body,
    header .site-name {
        color: #fff;
    }

    .item-list > li {
        background-color: #333;
    }

    header {
        background-color: #0067ac;
    }

    nav li {
        background-color: #000;
        color: #fff;
    }
}

/* CODE BASED STYLING */

code {
    font-family: "Code", monospace;
}

li code {
  background-color: #666666;
  color: #fff;
  padding: 2px 4px;
  border-radius: 12px;
}

p code {
  background-color: #666666;
  color: #fff;
  font-size: 0.9em;
  padding: 2px 4px;
  border-radius: 12px;
}

/**
 *  Example CSS file that can be used to style Splash HTML output
 *  Copyright (c) John Sundell 2018
 *  MIT license - see LICENSE.md
 */

pre {
    white-space: pre-wrap;
    margin-bottom: 1.5em;
    margin-right: 300px;
    background-color: #1a1a1a;
    padding: 16px 300px 0px 300px;
    border-radius: 16px;
    border-color: #ffffff;
    border-width: 2.5em;
    border: 2px solid #0267C1;
    /*padding: 16px 200px 0px 200px;*/

}

pre code {
    font-family: monospace;
    display: block;
    padding: 15px 20px;
    border-radius: 12px;
    color: #a9bcbc;
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    /*padding: 15px 200px 0px 200px;*/
    -webkit-overflow-scrolling: touch;

}

pre code .keyword {
    color: #e73289;
}

pre code .type {
    color: #8281ca;
}

pre code .call {
    color: #348fe5;
}

pre code .property {
    color: #21ab9d;
}

pre code .number {
    color: #db6f57;
}

pre code .string {
    color: #fa641e;
}

pre code .comment {
    color: #6b8a94;
}

pre code .dotAccess {
    color: #92b300;
}

pre code .preprocessing {
    color: #b68a00;
}

.code-preview {
    position: relative;
    z-index: 1;
}



.code-preview a {
    display: block;
    font-family: "Main";
    font-size: 0.8em;
    position: absolute;
    top: 5px;
    right: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ddd;
    padding: 2px 5px;
    border-radius: 5px;
    background: #000;
    cursor: default;
}

.code-preview img {
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    max-width: 212px;
    border: 1px solid #0a0a0a;
    border-radius: 10px;
}

.code-preview a:hover img {
    display: block;
}
